body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(161, 208, 58);
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.title {
    text-align: center;
}

.title p {
    font-weight: 600    ;
}

.images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.images > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 60vh;
    border: solid rgb(227, 255, 185);
    border-radius: 10px;
    margin: 50px;
    background-color: rgb(203, 241, 167);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 768px) {
    .images {
        flex-direction: column;
    }
    
    .images > div {
        width: 60vw;
    }

    .mobile {
        position: sticky;
        top: 0;
    }
}

@media (max-width: 480px) {
    .images {
        flex-direction: column;
    }
    
    .images > div {
        width: 60vw;
    }

    .mobile {
        position: sticky;
        top: 0;
    }
}

.images p {
    text-align: center;
}

.img-1, .img-2 {
    display: flex;
    height: 70%;
    margin: 50px 0;
    background-color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-1 img,
.img-2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media (hover: hover) {
    .images > div:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 25px rgba(0,0,0,0.3);    
        cursor: pointer;
    }
}

@media (hover: none) {
    .images > div:active {
        transform: translateY(-10px);
        box-shadow: 0 15px 25px rgba(0,0,0,0.3);    
        cursor: pointer;
    }
}

.pop-up {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    background-color: rgb(105, 228, 165);
    border: thick double greenyellow;
    border-radius: 10px;
}

.none {
    display: none;
}

.pop-up p {
    font-weight: 600;
    margin: 16px 10px;
}

.pop-up button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 10px;
    background-color: rgb(255, 86, 86);
    border-radius: 5px;
    border: solid;
}

@media (max-width: 768px) {
    .pop-up {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .pop-up {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        margin: 0;
    }
}